html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #121212;
    color: #ffffff;
}
.content {
    display: flex;
    flex-direction: row;
    padding: 15px;
    height: 100%;
    width: 100%;
}
.playlist-list {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}
.playlist {
    padding: 2px;
}
.playlist.selected {
    color: #fff;
    background-color: #444;
}
.track-list-container {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.hidden {
    display: none;
}
#radio .row {
    margin: 2px;
}
.track {
    border-radius: 4px;
    background-color: #232323;
    margin: 1px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.track-name {
    flex-basis: 30%;
}
.track-mix {
    flex-basis: 20%;
}
.track-artist {
    flex-basis: 40%;
}
.track-info {
    padding: 4px;
    flex-basis: 100%;
    display: flex;
}
.track-name {
    font-size: 1.25em;
}
.track-artist {
    font-weight: bold;
}
.album-image {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.unfound {
    color: #888888;
}
.unfound .track-info .album-image {
    opacity: 0.30;
}
.radio-version {
    background-color: #1d54b9;
    font-size: 1.1em;
}
.radio-version.loading {
    background-color: #bbccff;
    font-size: 1.1em;
}
.extended-version {
    background-color: #1db954;
    font-size: 1.1em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.radio-version:hover {
    background-color: #1e60d7;
}
.radio-version:active {
    background-color: #143b83;
}
.radio-version.loading, .radio-version.loading:hover {
    background-color: #233456;
}
.extended-version:hover {
    background-color: #1ed760;
}
.extended-version:active {
    background-color: #14833b;
}
.extended-version.loading, .extended-version.loading:hover {
    background-color: #235634;
}
.unfound .extended-version, .unfound .extended-version:hover {
    background-color: #bb3322;
}
.track-link, .preview-text {
    display: block;
    padding: 9px 12px;
    width: 100%;
    height: 100%;
}
.radio-version .track-link, .radio-version .track-link:focus {
    color: #ffffff;
}
.extended-version .track-link, .extended-version .track-link:focus {
    color: #ffffff;
}
.loading .track-link, .loading .preview-text {
    color: #777777;
}
.unfound .extended-version .preview-text {
    color: #ffcccc;
}
#track-list {
    overflow: auto;
}